.banner {
  background-image: url("../../../images/banner.jpg");
  background-size: cover;
  background-position: center;
  color: #fff;
}
.banner h1 {
  font-size: 70px;
  line-height: 80px;
  font-weight: 700;
}
.banner h1 span {
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
}
.banner p {
  font-size: 20px;
  line-height: 32px;
}
a.custom-lg-btn {
  background-color: #fe4943;
  /* background-image: linear-gradient(red, #fe4943); */
  padding: 15px 50px;
  border: none;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  border-radius: 5px;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-top: 30px;
  margin-right: 30px;
  text-decoration: none;
  display: inline-block;
  transition: all 0.3s ease;
}
a.custom-lg-btn:hover {
  background-color: #ce211b;
  /* background-image: linear-gradient(rgb(218, 0, 0), #fe4943); */
  color: #fff;
}
