body {
  margin: 0;
  font-family: "Poppins", sans-serif !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
:root {
  --main-color: #191844;
  --color-dark: #1d2231;
  --text-grey: #8390a2;
  --montserrat: "Montserrat", sans-serif;
  --poppins: "Poppins", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none !important;
  box-sizing: border-box;
}
